<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Demo WebRTC</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Hello WebRTC</h1>
        <video id="localStream" width="300" height="" controls>
            
        </video><br><br>
        <label for="token">My Signal Connection</label><br><br>
        <textarea rows="3" cols="70" id="txtMySignal"></textarea>
        <br><br>
        <input type="text" placeholder="Your friend's signal" id="txtFriendSignal"> 
        <br><br>
        <button id="btnConnect">Connect</button>
        <script src="bundle.js"></script>
    </body>
</html>